.img-left {
    position: fixed;
    left: 0;
}

.img-left img {
    position: fixed;
    left: 5%;
    top: 25%;
}

.img-right {
    position: fixed;
}

.img-right img {
    position: fixed;
    right: 5%;
    top: 25%;
}
/* ================ Header =============== */
.home-banner .home-header-banner {
    width: 100%;
    height: auto;
}

.home-menu .navbar-collapse-custom {
    padding-right: 0;
    padding-left: 0;
    background-color: #01a453;
}

.home-menu .navbar-default-custom {
    margin-bottom: 0;
}

.home-menu .container-fluid-custom {
    padding-right: 0;
    padding-left: 0;
}

.home-menu .navbar-brand-custom {
    display: none;
}

.home-menu .navbar-default ul .active-custom {
    background-color: #ffffff;
}

.home-menu .navbar-default ul li a {
    color: #ffffff;
}

.home-menu .navbar-default ul .active-custom a {
    color: #01a453;
}